
h1, h2, h3 {
text-align: center;

}
.boxed {
  border: 2px solid orange ;
  width: 265px;
  background: rgba(50,120,0,0.15);
  padding: 1px;
  line-height: 1.5;
  font-size: 25px;
}
.para{
text-align: center;
font-size: 28px;
border: 2px solid black;
background: rgba(10, 5, 10, 0.12);
}
para2 {
font-size: 19px;
}
pConc {
 font-size: 32px;
}
